* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 0;
}
header {
    width: 100%;
    height: 80vh;
    background-image: url(Web\ sit\ benner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
                                    /* top */
.top {
    width: 100%;
    height: 10vh;
    background-color: skyblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.top h4 {
    margin-left: 20px;
}
.top p {
    margin-right: 10px;
}
.top p a {
    text-decoration: none;
    color: white;
}
.top p a:hover {
    color: blue;
}

                                /* navigaion  */
nav {
    width: 100%;
    height: 13vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}
.logo img {
    width: 27%;
    margin-left: 40px;
}
nav .menu ul {
    width: 550px;
    margin-right: 200px;

}
nav .menu ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
nav .menu ul a {
    color: brown;
    text-decoration: none;
    font-weight: bold;
}
nav .menu ul a:hover {
    color: blue;
}
.btn1 button {
    border-radius: 100px;
    width: 130px;
    height: 30px;
    background-color: darkgoldenrod;
    color: white;
    font-size: 12px;
    box-shadow: 2px 2px 2px 2px grey;
    margin-right: 10px;
}
.btn1 button:hover {
    color: black;
}

                                    /* content */
.content {
    width: 100%;
    height: 50vh;
    margin-top: 100px;
    justify-content: center center;
    text-align: center;
    color: white;
    font-size: 30px;
}
.content .btn2 button {
    border-radius: 100px;
    width: 200px;
    height: 30px;
    background-color: #2edeeb;
    color: black;
    font-size: 13px;
    box-shadow: 2px 2px 2px 2px grey;
    font-weight: bold;
    text-transform: uppercase;
}
.content .btn2 button:hover {
    color: white;
    background-color: blue;
}

                                /* <!-- Introduction --> */
.intro {
    margin-top: 40px;
    text-align: center;
    font-weight: bold;
}
.intro h1 {
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
}
.Courseoffer {
    width: 50%;
    height: 50vh;
    display: flex;
    margin-top: 60px;
    margin-left: 150px;
}
.course1 {
    margin-right: 20px;
}
.course2 {
    margin-right: 20px;
}
.course1 img {
    width: 300px;
    height: 200px;
}
.course2 img {
    width: 300px;
    height: 200px;
}
.course3 img {
    width: 300px;
    height: 200px;
}
.Courseoffer1 {
    width: 50%;
    height: 50vh;
    display: flex;
    margin-top: 60px;
    margin-left: 150px;
}
.course4 {
    margin-right: 20px;
}
.course5 {
    margin-right: 20px;
}
.course4 img {
    width: 300px;
    height: 200px;
}
.course5 img {
    width: 300px;
    height: 200px;
}
.course6 img {
    width: 300px;
    height: 200px;
}

                                    /* <!-- footer --> */
.footer {
    display: flex;
    background-color: black;
    margin-top: 100px;
    justify-content: space-between;
    align-items: center center;
}
.footer1 img {
    width: 250px;
    margin-top: 30px;
}
.footer2 {
    width: 250px;
    margin-top: 100px;
    color: white;
    text-align: center;
}
.footer2 p a {
    color: white;
    text-decoration: none;
    justify-content: center center;
}
.footer3 {
    width: 250px;
    margin-top: 100px;
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}
.footer3 ul li a {
    text-decoration: none;
    color: red;
}
.footer3 ul li {
    list-style: none;
}
.copyright {
    background-color: gray;
    color: white;
    text-align: center;
    height: 20px;
}